body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 40px;
}
.name-highlight{
    color: orange;
}
h3{
    font-size: 20px;
}
p{
    font-size: 20px;
}  
.half-width{
    width: 50px;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}